.header{
    background: black;
    color: white;
    padding: 30px;
    margin-bottom: 70px;
    text-align: center;
    
}

.header ul {    
    list-style: none;
}

.header ul li { 
    display: inline-block;    
    margin-right: 10px;
}

.header ul li a {    
    display: inline-block;    
    background: gray;   
    color: white;    
    padding: 5px 10px;    
    text-decoration: none;
}

.header ul li a:hover {    
    background: white;
}

.header h1{
    margin: 0;
}

.header ul{
    list-style-type: none;
}

.header li{
    margin: 15px;
}


.header a{
    color: white;
    background-color:#8C8C8C;
    padding: 5px;
    border-radius: 10px;
}

.header a:hover{
    background-color: white;
    color:#25261E ;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}